body {
      background-color: #F4F4F4;
    }

#canvas{
    width:850;
    min-height:670px;
    height:650;
    position: relative;

    /*background-color: #F4F4F4;*/
}

#thing, #whom, #whom2, #weatherDes {
    text-decoration: underline;
	font-weight: bold;
}

#Lupi {
	font-style: italic;
	font-size: 90%;
	line-height: 300%;
	font-family: "Comic Sans MS";
}

.des {
	position: absolute;
	top:380px;
	left:90px;
	border-top: 1px solid #665544;
	border-bottom: 1px solid #665544;
	margin:0px 0px 10px 10px;
	font-style: italic;
	padding: 5px;
	width: 350px;
	font-size: 100%;
	border-top-color:#273952;
	border-bottom-color:#273952;
	color:#273952;
}

.container {
	position:absolute;
	top:30px;
	left:560px;

}

h1{
	font-size: 50px;
	position:absolute;
	top:160px;
	left:100px;
	color:#273952;
	font-family: "futura-pt";
	font-weight: 305;
}

h4{
	position: absolute;
	font-size: 15px;
	top:260px;
	left:100px;
	color:#273952;
	font-family: "futura-pt";
	font-weight: lighter;
}

element.style{
	font-family: Futura;
	
}
